@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  color: #2efff8;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;

  text-align: center;
  font-family: 'Rubik', sans-serif;

  background: #23222B;
}

.title {
  margin: 15px;

  color: #eee;
}

.adaptive {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.adaptive {
  padding: 10px;
  color: #eee;
  background: #42414D;
}

.header,
.footer {
  height: 50px;
  padding: 15px;
  margin: 0 auto;

  background: #4F4E59;
  border-bottom: #7C7B82 solid 2px;
  font-size: 14px;

}

.header .menu {
  float: left;
  margin: 0 15px 15px;

  font-size: 16px;
  font-weight: 300;
}

.menu a {
  margin: 0 15px;
}

.phone {
  float: right;
  margin: 0 15px 15px 0;

  font-size: 15px;
  letter-spacing: -1px;
  color: #eee;
}

.cards {
  margin: 0 auto;
}

.card-home-page {
  display: inline-block;
  margin: 15px;
  max-width: 80%;
  padding: 10px 10px 25px;

  background: #23222B;
  color: #2efff8;
  border-radius: 10px;
  overflow: hidden;
}

.card-home-page-img {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 10px;

  background: linear-gradient(#FF782E, #52BFBC);
}

.card {
  display: inline-block;
  margin: 15px;
  max-width: 40%;
  padding: 5px 5px 15px;

  background: #23222B;
  color: #2efff8;
  border-radius: 10px;
  overflow: hidden;
}

.card-img {
  height: 240px;
  margin-bottom: 10px;
  border-radius: 10px;

  background: linear-gradient(#FF782E, #52BFBC);
}

.card-content {
  padding: 0 10px;

  text-align: left;
}

.card-title {
  margin-bottom: 5px;

  font-size: 24px;
  font-weight: 500;
  color: #eee;
}

.card-desc {
  font-weight: 300;
  padding: 10px;

  color: #B5B5B9;
}

.card-desc-invert {
  font-weight: 300;
  border-radius: 0px 20px 0px 20px;
  padding: 10px;

  background: #B5B5B9;
  color: #23222B;
}

.footer {
  min-height: 100px;

  background: #7C7B82;
  color: #23222B;
}

.footer .menu {
  padding-bottom: 15px;
  border-bottom: #eee solid 2px;
}

.footer-logo {
  margin: 0 auto;
  padding: 15px 0;
}

@media (max-width: 1200px) {
  .adaptive {
    width: 1000px;
  }

  .card {
    padding-bottom: 5px;
    min-height: 150px;
  }

  .card-img {
    height: 30vw;
  }

  .card-title {
    font-size: 22px;
  }
}

@media (max-width: 1000px) {
  .adaptive {
    width: 768px;
  }

  .card {
    padding-bottom: 15px;
    min-height: 150px;
  }

  .card-img {
    height: 20vw;
  }

  .card-title {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 4.5vw;
  }

  .adaptive {
    width: 480px;
  }

  .card {
    max-width: 80%;
  }

  .card-title {
    font-size: 18px;
  }

  .card-desc {
    font-size: 15px;
  }

  .card-img {
    height: 25vw;
  }
}

@media (max-width: 480px) {
  .adaptive {
    width: 100%;
  }

  .header {
    height: 150px;
  }

  .header .menu {
    float: none;
  }

  .header .menu a {
    display: block;
    margin-bottom: 10px;
  }

  .header .menu a:last-child {
    margin-bottom: 0;
  }

  .card-desc {
    font-size: 14px;
  }

  .card-img {
    height: 35vw;
  }

  .footer {
    height: 150px;
  }

  .footer .menu a {
    display: block;
  }

  .footer-logo {
    color: #eee;
  }
}
